.form{
    &__group:not(:last-child) {
        margin-bottom: 2rem;

    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit; // les inputs n heritent pas de l eurs parents il faut le mettre
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;//pour que les 3px soient présents et ainsi quand on focus la barre inupt ne bouge pas
        width: 90%;
        display: block; //comme ca le labell passe en dessous
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none; // ligne définie par défault, ne jamais laisser un input sans rien dans le focus !
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark; // si les données ne sont pas bonnes alors {}
        }


        &::-webkit-input-placeholder {
            color: $color-grey-dark-2; // ici changer la couleur par défault de l'input
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { //on veut changer &__label quand on est dans le place holder de input
        opacity: 0; // en commencant a ecrire le label apparait car il nest plus dans un placeholder shown
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }

    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer; //make it like link (hand will show)
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button { // on va faire ici le boutton en cercle vert qui remplacera le boutton original que l'on va cacher
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display:inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
    
}